/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// Unit Template classes
 .unitPageTitle {
    color: #0F0F5F;
    text-indent: -10px;
 }

.unitIntroduction {
    color: #050B5B;
    // text-indent: 10px;
 }

 .unitIntroduction p{
  float:left;
  margin-left: 10px;
}

 .unitKeyPoints {
    color: #003A88;
    // text-indent: 10px;
 }

  .unitKeyPoints p{
  float:left;
  margin-left: 10px;
}

.unitContent {
    color: #0a0a0a
    text-indent: 0%;
  }

//     .unitContent p{
//   float:left;
//   margin-left: 10px;
// }

.unitReview {
    color: #003A88
    // text-indent: 10px;
 }

 .unitReview p{
  float:left;
  margin-left: 10px;
}

 .unitSummary {
    color: #050B5B;
    // text-indent: 10px;
 }
 .unitSummary p{
  float:left;
  margin-left: 10px;
}


.table-of-contents {
color: #0F0F5F;
    text-indent: 0%;
        // border: 1px solid #aaa;
    // display: table;
    // font-size: 100%;
    // margin-bottom: 1em;
    // padding: 10px;
    // width: auto;

  }

.table-of-contents li, .table-of-contents ul, .table-of-contents ul li {
    list-style: outside none none !important;
}


.custom-block.tip {
    background-color: #e6e6e6;
    border-color: #0000ff;
}

.custom-block.warning {
    background-color: #f2f2f2;
    border-color: #0055ff;
}

.home .hero img {
  max-width: 450px !important;
  }

code {
  // white-space : pre-wrap;
    color: #2c3e50;
    // padding: 0.25rem 0.5rem;
    // margin: 0;
    font-size: 18px;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* top | right | bottom | left */

.left {
  margin: 0 1em 0 1em;
  padding: 0 1em 0 1em;
  font-style: italic
  }

.readmore {
  margin: 0 3em 0 3em;
  padding: 0 1em 0 1em;
  border-radius: 0.2rem;
  background-color:lightgray;
  font-weight: normal;
  font-size: 18px;
  font-family: Arial, sans-serif;
}
.readmoretitle {
   padding: 0 0 00;
    font-weight: bold;
    font-size: 24px;
    color: darkslategrey;
    font-family: Arial, sans-serif;
}

.thinkaboutit {
  margin: .5rem 0;
  padding: .1rem .5rem;
  border-radius: 0.5rem;
  background-color:#c2d1f0;
}

.whatsgoingon {
  // margin-top: 10px;
  // margin-bottom: 10px;
  // margin-right: 150px;
  // margin-left: 80px;
  margin: .5rem 0;
  padding: .1rem .5rem;
  border-radius: 0.5rem;
  background-color:gray;
  color: blue;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.title {
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, sans-serif;
    color: #000066;
    text-align: left
}

// .custom-block
//   &.right
//     color transparentify($textColor, 0.4);
//     font-size 0.9rem;
//     text-align right;

button {
  background-color: #0000ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.info {
  text-align: left;
  font-size: 22px;
  font-family: Arial, sans-serif;
}
.instructions {
  text-align: left;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.header {
  font-size: 22px;
  text-align: left;
  font-family: Arial, sans-serif;
}
.question {
  font-size: 22px;
  text-align: left;
  font-family: Arial, sans-serif;
}


